.skills{
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}
.skills li{
    list-style: none;
    flex-direction: row;   
    
}
.skills li img{
    align-items: center;
}
@media screen and (max-width: 820px) {
  
    .skillImage{
        width: 75px;
    }
}
@media screen and (max-width: 820px) {
    .skills{
       
        flex-flow: row wrap;
    }
    .skills li{
        list-style: none;
        flex-direction: row;       
    }
    .skillImage{
        width: 50px;
    }
}